
<section class="shop">

  <h2>{{ shop }}</h2>
  <p>{{ getAddr() }}</p>

  <section class="shelf">
    <section
      (click)="item.quantity && buyItem(item)"
      *ngFor="let item of fruitVeg"
      class="item"
      [ngClass]="{ 'outstock' : item.quantity === 0 }"
      >

        <p>{{ item.name }}</p>
        <p class="price">{{ item.price | currency : "GBP" }}</p>
    </section>
  </section>
  <!-- ========================================================= -->
  <hr/>

  <section class="shelf">
      <section *ngFor="let item of basket" class="item basket" (click)="removeItem(item)">
          <p>{{ item.name }}</p>
          <p class="price">{{ item.price | currency : "GBP" }}</p>
      </section>
  </section>
  <!-- ========================================================= -->

  <p>{{ getTotal() | currency : "GBP" }}</p>

  <p class="button" (click)="empty()">EMPTY</p>

</section>
