<label>Server name</label>
<!-- <input
type="text"
class="form-control"
(input) = "onUpdateServerName($event)"> -->

<input
type="text"
class= "form-control"
[(ngModel)] = "serverName">

<!-- <p>{{serverName}}</p> -->
<button
class="btn btn-primary pb-3"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p>{{allowNewServer}}</p> -->
<!-- <p [innerText] = "allowNewServer"></p>
<p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer><p>No server was created</p></ng-template>

<app-server *ngFor="let x of servers"></app-server>
